body {
  margin: 0;
  background-color: #0e0e2c;
  color: white;
  font-family: sans-serif;
  text-transform: uppercase;
}

.navbar {
  padding: 1rem 2rem;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
}

.logo {
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.home{
    padding: 90px 240px;
    line-height: 100px;
    font-size: 40px;
    background: linear-gradient(90deg, pink,  #0e0e2c);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;

}

.pR{
    font-size: medium;
    line-height: 30px;
}

.button{
    width: 150px;
    height: 50px;
    border-radius: 15px;
    font-size: medium;
    background: linear-gradient(90deg, pink, #0e0e2c);
    color: white;
}